<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template.html}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>
    Asm
  </title>


</head>

<body layout:fragment="content">
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">

          <div class="card-body">
            <form method="post" th:action="@{/create}" th:object="${model}">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="bookname" class="bmd-label-floating">Name</label>
                    <input type="text" name="name" th:field="${model.bookname}" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="publisher" class="bmd-label-floating">Publisher</label>
                    <input type="text" name="price" th:field="${model.publisher}" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="author" class="bmd-label-floating">Author</label>
                    <input type="text" name="price" th:field="${model.author}" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="genre" class="bmd-label-floating">Genre</label>
                    <input type="text" name="price" th:field="${model.genre}" class="form-control">
                  </div>
                </div>
              </div>



              <button type="submit" class="btn  pull-right">Create Product</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>